    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.aside h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3em;
    font-style: oblique;
    font-weight: 300;
    color: #808000;
    margin-left: 10%;
    padding: 1px;
}

.aside p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.15em;
    line-height: 2em;
    margin-left: 10%;
    margin-right: 7%;
    padding: 15px;
}

body {
    width: 100%;
    background: #EEECEB;
}

footer {
    position: absolute;
    background: #140B5C;
    width: 100%;
    left: 0;
}

footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
}

footer .content {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}

footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content .top .logo-details {
    color: #fff;
    font-size: 30px;
}

.content .top .media-icons {
    display: flex;
}

.content .top .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1) {
    background: #4267B2;
}

.top .media-icons a:nth-child(1):hover {
    color: #4267B2;
    background: #fff;
}

.top .media-icons a:nth-child(2) {
    background: #1DA1F2;
}

.top .media-icons a:nth-child(2):hover {
    color: #1DA1F2;
    background: #fff;
}

.top .media-icons a:nth-child(3) {
    background: #E1306C;
}

.top .media-icons a:nth-child(3):hover {
    color: #E1306C;
    background: #fff;
}

.top .media-icons a:nth-child(4) {
    background: #0077B5;
}

.top .media-icons a:nth-child(4):hover {
    color: #0077B5;
    background: #fff;
}

.top .media-icons a:nth-child(5) {
    background: #FF0000;
}

.top .media-icons a:nth-child(5):hover {
    color: #FF0000;
    background: #fff;
}

footer .content .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .content .container .row {
    width: calc(100% / 1 - 5px);
}

.content .container .row .col {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: sticky;
}

.container .row .col::before {
    position: fixed;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
}

.content .container .row li {
    margin: 6px 0;
    list-style: none;
}

.content .container .row li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
}

.content .container .row li a:hover {
    opacity: 1;
    text-decoration: none;
}

footer .bottom-details {
    width: 100%;
    background: #0F0844;
}

footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}

.bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
}

.bottom-details .bottom_text a {
    margin-right: 10px;
}

(max-width: 900px) {
    footer .content .container {
        flex-wrap: wrap;
    }
    (max-width: 700px) {
        footer {
            position: absolute;
        }
        .content .top .logo-details {
            font-size: 26px;
        }
        .content .top .media-icons a {
            height: 35px;
            width: 35px;
            font-size: 14px;
            line-height: 35px;
        }
        footer .content .container .row {
            width: calc(100% / 1 - 10px);
        }
        .bottom-details .bottom_text span,
        .bottom-details .bottom_text a {
            font-size: 12px;
        }
    }
    (max-width: 520px) {
        footer::before {
            top: 145px;
        }
        footer .content .top {
            flex-direction: column;
        }
        .content .top .media-icons {
            margin-top: 16px;
        }
        footer .content .container .row {
            width: calc(100% / 1 - 10px);
        }
    }